<p>Name: <strong>Ruslan Ibragimov</strong></p>
<div class="photo-block">
    <p>Personal photo: </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" width="70" height="50"
         alt="">
</div>
<p><strong>I am </strong>a Duis ut metus semper, ultricies risus et, tincidunt sapien. Etiam euismod imperdiet mollis. Aliquam erat
    volutpat. Sed urna sapien, ultricies sit amet dui sed, iaculis mattis tortor. Nullam varius leo ac mi imperdiet, eu
    dapibus <tel></tel>lus tincidunt. </p>

<div class="cv-block">
    <a href="/CV.pdf" target="_blank">Link to my CV</a>
</div>

