<div class="message-form">
    <label>
        First name
        <input type="text">
    </label>
    <label>
        Last name
        <input type="text">
    </label>
    <label>
        Contact Number
        <input type="tel" pattern="^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$">
    </label>
    <label>
        Email Address
        <input type="text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
    </label>
    <label for="">
        Message
        <textarea name="Text1" cols="40" rows="5"></textarea>
    </label>
    <div class="button">
        Submit
    </div>
</div>

<div class="error">
    <div class="close-btn-wrapper">
        <div class="close-btn"></div>
    </div>
    <p></p>
</div>