<h1 class="title">Lorem Ipsum</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum, tortor nec varius viverra, justo purus
    condimentum libero, eu lacinia justo metus ut lacus. Phasellus euismod id lorem eget rhoncus. Quisque sed blandit
    erat. Duis lobortis, nisl vitae facilisis sollicitudin, ipsum tortor pellentesque dolor, eget tempus turpis diam sit
    amet lectus. In rutrum consectetur est ut tristique. Vestibulum cursus ante at nulla maximus placerat. Vestibulum
    pellentesque aliquet felis, ac suscipit libero ultrices nec. Duis lorem lacus, accumsan vel varius mollis, pulvinar
    eu erat. Vestibulum vitae mi a eros eleifend accumsan id in arcu. Maecenas nec ante arcu. Fusce elementum turpis
    magna, quis varius nibh pharetra at. Cras eget lacus efficitur quam aliquet vulputate. Mauris ut ultrices nulla.
    Aenean condimentum metus a est bibendum, dictum tincidunt odio elementum. Maecenas laoreet lacus accumsan egestas
    blandit. </p>

<div class="header">
    <h1>Photo gallery</h1>
</div>
<div class="slider">
    <div id="block-left"></div>
    <div id="block-main"></div>
    <div id="block-right"></div>
</div>