<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public.css'/>
</head>
<body>
<header>
    <p>test</p>
    <% if(process.env.MODE == "production") {%>
        <p class="production">Production</p>
    <% }%>
</header>
<%- include(page);
%>
<script src="/public.js"></script>
</body>
</html>
