<div class="form">
    <p id="labelStatement">Login in</p>
    <label>
        Login:
        <input id="login" value="testuser" placeholder="login" type="text">
    </label>
    <label>
        Password:
        <input id="password" value="testuser" placeholder="password" type="password">
    </label>
    <div class="center">
        <div class="button">
            Login in
        </div>
    </div>
</div>
<div class="info">Create an account?</div>
<div class="error">
    <div class="close-btn-wrapper">
        <div class="close-btn"></div>
    </div>
    <p></p>
</div>