<div class="form">

    <label>
        Login:
        <input type="text">
    </label>
    <label>
        Password:
        <input type="password">
    </label>
    <div class="center">
        <div class="button">
            Submit
        </div>
    </div>
</div>