<div class="items-wrapper">
    <div class="item id1">
        <div class="title">Bubble Match</div>
        <div class="picture"></div>
        <div class="role">Project Manager</div>
    </div>
    <div class="item id2">
        <div class="title">Ethernal Server</div>
        <div class="picture"></div>
        <div class="role">Devops</div>
    </div>
    <div class="item id3">
        <div class="title">Current project</div>
        <div class="picture"></div>
        <div class="role">Full-Stack develop</div>
    </div>
</div>