@import "buttons/buttons";
@import "fonts/fonts";
@import "colours/colours";
@import "keyframes/showEffect";

@import "template/header";
@import "template/footer";
@import "template/page";
@import "template/about";
@import "template/projects";
@import "template/services";
@import "template/contact";
@import "template/login";