.wrapper.contact {
  font-size: 1.1rem;

  .message-form {
    textarea {
      resize: none;
    }

    display: flex;
    flex-direction: column;

    * {
      margin: 6px 5px;
    }

    label {
      display: flex;
      flex-direction: column;
      max-width: 450px;
    }

    .button {
      background-color: #626161;
      max-width: fit-content;
      padding: 4px 10px;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: #383838;
      }
    }
  }
}
