body.services {
  footer {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.14);
  }
}

footer {

  &.hide {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
  }


  display: flex;
  flex-direction: row;
  justify-content: left;

  user-select: none;

  a {
    color: white;

    &::after {
      background-color: white;
    }
  }

  * {
    margin-left: 10px;

    :not(:first-child) {
      margin-left: 0;
    }
  }

  background-color: map-get($page-colours, "c1854A8");
  color: white;
  flex: 0 1;
  padding: 10px 150px;
}