header {

  &.services {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.14);
  }

  &.hide {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-weight: 500;

  .production {
    :hover {
      cursor: default;
      user-select: none;
    }

    span {
      padding: 5px;
      border-radius: 10px;
      background-color: map-get($page-colours, "c1854A8");
    }
  }

  background-color: map-get($page-colours, "c3B88F5");
  box-shadow: map-get($page-colours, "c1854A8") 1px 1px 1px 1px;
  color: white;

  font-size: 1.2rem;
  @import "buttons/buttons";

  .button {
    @include button;
  }

}