body {
  .error {

    display: none;
    flex-direction: column;
    background-color: rgba(28, 28, 28, 0);
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 450px;
    right: 0;
    bottom: 0;
    max-width: 500px;
    max-height: 200px;
    margin: auto auto;

    .close-btn-wrapper {
      display: flex;
      justify-content: end;
    }

    .close-btn {
      margin-right: 25px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-self: center;
      border: 1px solid rgba(0, 0, 0, 0.06);
      background-color: #cccaca;
      border-radius: 25px;
      width: 50px;
      height: 50px;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:after {
          font-size: 1.25rem;
        }
      }

      &:after {
        display: flex;
        justify-content: center;
        align-self: center;
        content: "✕";
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    p {
      margin-left: 10px;
    }
  }

  .info {
    font-style: italic;
    cursor: pointer;
    &::before {
      content: "↪";
      border: rgba(28, 28, 28, 0.38) solid 1px;
      padding: 2px 3px;
      margin-right: 5px;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &::after {
      content: "";
      position: relative;
      width: 100%;
      height: 1px;
      bottom: 2px;
      opacity: 1;
      margin: 0 auto 0 0;
    }
  }

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;

  height: 100vh;
  display: flex;
  flex-direction: column;

  .nav-button {
    @include nav-button;
  }

  .button {
    background-color: #626161;
    max-width: fit-content;
    padding: 4px 10px;
    color: white;

    &:hover {
      cursor: pointer;
      background-color: #383838;
    }
  }

  .wrapper {
    padding: 15px;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.06);
    margin: 2px 150px 0 150px;

    &.home {
      @import "pages/home";
    }

    .title {

    }
  }
}