body {

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &::after {
      content: "";
      position: relative;
      width: 100%;
      height: 1px;
      bottom: 2px;
      opacity: 1;
      margin: 0 auto 0 0;
    }
  }

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;

  height: 100vh;
  display: flex;
  flex-direction: column;

  .wrapper {
    padding: 15px;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.06);
    margin: 2px 150px 0 150px;

    &.home {
      @import "pages/home";
    }

    .title {

    }
  }
}